 <div class="contenedorPrincipal">
      <div class="mainDashboard">
         
           <div class="divBotonCrear">
             <button id="botonCrear" (click)="crearVuelo()">+ CREAR</button>
           </div>
           
           

            
            <div class="divInputBusqueda">
                <input type="search"id="inputBusqueda" placeholder="Buscar">
            </div>
                 
            <div class="divTabla">
                <table class="tabla">
                    <tr class="headerTabla">
                        <th>Vuelo</th>
                        <th>Modelo</th>
                        <th>Origen</th>
                        <th>Destino</th>
                        <th>Partida</th>
                        <th>Arribo</th>
                        <th>Estado</th>
                        <th>Acción</th>
                    </tr>
                     <tr>
                        <td>AP1978</td>
                        <td>747</td>
                        <td>Buenos Aires</td>
                        <td>Bariloche</td>
                        <td>25/05/2025</td>
                        <td>25/05/2025</td>
                        <td>Finalizado</td>
                        <td>
                            <a href="#"><img src="../img/icon_modify.svg" alt="iconoAccion"></a>
                            <a href="#"><img src="../img/icon_delete.svg" alt="iconoAccion"></a>
                        </td>
                    </tr>
                      <tr>
                        <td>AP1978</td>
                        <td>747</td>
                        <td>Buenos Aires</td>
                        <td>Bariloche</td>
                        <td>25/05/2025</td>
                        <td>25/05/2025</td>
                        <td>Finalizado</td>
                        <td>
                            <a href="#"><img src="../img/icon_modify.svg" alt="iconoAccion"></a>
                            <a href="#"><img src="../img/icon_delete.svg" alt="iconoAccion"></a>
                        </td>
                        
                    </tr>
                      <tr>
                        <td>AP1978</td>
                        <td>747</td>
                        <td>Buenos Aires</td>
                        <td>Bariloche</td>
                        <td>25/05/2025</td>
                        <td>25/05/2025</td>
                        <td>Finalizado</td>
                        <td>
                            <a href="#"><img src="../img/icon_modify.svg" alt="iconoAccion"></a>
                            <a href="#"><img src="../img/icon_delete.svg" alt="iconoAccion"></a>
                        </td>
                    </tr>
                      <tr>
                        <td>AP1978</td>
                        <td>747</td>
                        <td>Buenos Aires</td>
                        <td>Bariloche</td>
                        <td>25/05/2025</td>
                        <td>25/05/2025</td>
                        <td>Finalizado</td>
                        <td>
                            <a href="#"><img src="../img/icon_modify.svg" alt="iconoAccion"></a>
                            <a href="#"><img src="../img/icon_delete.svg" alt="iconoAccion"></a>
                        </td>
                    </tr>
                      <tr>
                        <td>AP1978</td>
                        <td>747</td>
                        <td>Buenos Aires</td>
                        <td>Bariloche</td>
                        <td>25/05/2025</td>
                        <td>25/05/2025</td>
                        <td>Finalizado</td>
                        <td>
                            <a href="#"><img src="../img/icon_modify.svg" alt="iconoAccion"></a>
                            <a href="#"><img src="../img/icon_delete.svg" alt="iconoAccion"></a>
                        </td>
                    </tr>
                      <tr>
                        <td>AP1978</td>
                        <td>747</td>
                        <td>Buenos Aires</td>
                        <td>Bariloche</td>
                        <td>25/05/2025</td>
                        <td>25/05/2025</td>
                        <td>Finalizado</td>
                        <td>
                            <a href="#"><img src="../img/icon_modify.svg" alt="iconoAccion"></a>
                            <a href="#"><img src="../img/icon_delete.svg" alt="iconoAccion"></a>
                        </td>
                    </tr>
                      <tr>
                        <td>AP1978</td>
                        <td>747</td>
                        <td>Buenos Aires</td>
                        <td>Bariloche</td>
                        <td>25/05/2025</td>
                        <td>25/05/2025</td>
                        <td>Finalizado</td>
                        <td>
                            <a href="#"><img src="../img/icon_modify.svg" alt="iconoAccion"></a>
                            <a href="#"><img src="../img/icon_delete.svg" alt="iconoAccion"></a>
                        </td>
                    </tr>
                      <tr>
                        <td>AP1978</td>
                        <td>747</td>
                        <td>Buenos Aires</td>
                        <td>Bariloche</td>
                        <td>25/05/2025</td>
                        <td>25/05/2025</td>
                        <td>Finalizado</td>
                        <td>
                            <a href="#"><img src="../img/icon_modify.svg" alt="iconoAccion"></a>
                            <a href="#"><img src="../img/icon_delete.svg" alt="iconoAccion"></a>
                        </td>
                    </tr>
                      <tr>
                        <td>AP1978</td>
                        <td>747</td>
                        <td>Buenos Aires</td>
                        <td>Bariloche</td>
                        <td>25/05/2025</td>
                        <td>25/05/2025</td>
                        <td>Finalizado</td>
                        <td>
                            <a href="#"><img src="../img/icon_modify.svg" alt="iconoAccion"></a>
                            <a href="#"><img src="../img/icon_delete.svg" alt="iconoAccion"></a>
                        </td>
                    </tr>
                </table>
            </div>        
        </div> 
</div>
