<div class="containterFlex">
         <div class="contenedorGrid">
        
            <div class="contenedorGrid-logo">
                <img src="../img/logo_1.png" alt="logoAirPatagonia" id="logoAirPatagonia">
            </div>
            <div class="contenedorGrid-h1-inicioSesion">
                <h1 id="tituloIniciarSesion">Iniciar sesión</h1>
            </div>
            <div class="contenedorGrid-img-usuarioIcon">
                <img src="../img/usuarioIcon.svg" alt="iconoUsuario" id="imgUsuarioIcon">
            </div>
            <div class="contenedorGrid-input-usuario">
                <input type="text" id="inputUsuario" placeholder="Usuario">
            </div>
            <div class="contenedorGrid-img-passwordIcon">
                <img src="../img/password_icon.svg" alt="iconoPassword" id="imgPasswordIcon">
            </div>
            <div class="contenedorGrid-input-password">
                <input type="password" id="inputPassword" placeholder="Contraseña">
            </div>
            
            <div class="contenedorGrid-a-reset">
                <a href="#" id="resetPassword">¿Olvidaste tu constraseña?</a>
            </div>
            <div class="contenedorGrid-btnIngresar">
                <button id="btnIngresar" (click)="login()">INGRESAR</button>
            </div>
        
    </div>
    </div>