<div class="contenedorPrincipal">
    <div class="mainDashboard">

        <div class="divBotonVolver">
            <button id="botonVolverModificacion" (click)="cancelarModificacion()">⬅</button>
        </div>
        <div class="divTituloGestion">
            <p id="tituloGestion">{{titleGestion}}</p>
        </div>
        <div class="divBuscarEmpleado">
            <input type="search" id="inputBuscarEmpleado" placeholder="Buscar Empleado" [(ngModel)]="filtroEmpleado"
                (input)="aplicarFiltroEmpleados()">
        </div>

        <div class="divAvion">
            <select name="avion" id="selectAvion">
                @if(!modoEdicion){
                    <option value="" selected disabled>Seleccione un Avión</option>
                    @for(avion of listaAviones; track avion.idAvion){
                        <option [value]="avion.idAvion">{{avion.fabricante}} - {{avion.modelo}}</option>
                    }
                }@else {
                    <option [value]="vuelo?.avion?.idAvion" selected>{{vuelo?.avion?.fabricante}} - {{vuelo?.avion?.modelo}}</option>
                    @for(avion of listaAviones; track avion.idAvion){
                        <option [value]="avion.idAvion">{{avion.fabricante}} - {{avion.modelo}}</option>
                    }
                }
            </select>
        </div>

        <div class="divAeropuertoOrigen">
            <select id="aeropuertoOrigen">
                @if(!modoEdicion){
                    <option value="" selected disabled>Seleccione Origen</option>
                    @for(aeropuerto of listaAeropuertos; track aeropuerto.idAeropuerto){
                        <option [value]="aeropuerto.idAeropuerto">{{aeropuerto.codigoIATA}} - {{aeropuerto.nombreCorto}}</option>
                    }
                }@else {
                    <option [value]="vuelo?.aeropuertoPartida?.idAeropuerto" selected>{{vuelo?.aeropuertoPartida?.codigoIATA}} - {{vuelo?.aeropuertoPartida?.nombreCorto}}</option>
                    @for(aeropuerto of listaAeropuertos; track aeropuerto.idAeropuerto){
                        <option [value]="aeropuerto.idAeropuerto">{{aeropuerto.codigoIATA}} - {{aeropuerto.nombreCorto}}</option>
                    }
                }
            </select>
        </div>
        <div class="divAeropuertoDestino">
            <select id="aeropuertoDestino">
                @if(!modoEdicion){
                    <option value="" selected disabled>Seleccione Destino</option>
                    @for(aeropuerto of listaAeropuertos; track aeropuerto.idAeropuerto){
                        <option [value]="aeropuerto.idAeropuerto">{{aeropuerto.codigoIATA}} - {{aeropuerto.nombreCorto}}</option>
                    }
                }@else {
                    <option [value]="vuelo?.aeropuertoArribo?.idAeropuerto" selected>{{vuelo?.aeropuertoArribo?.codigoIATA}} - {{vuelo?.aeropuertoArribo?.nombreCorto}}</option>
                    @for(aeropuerto of listaAeropuertos; track aeropuerto.idAeropuerto){
                        <option [value]="aeropuerto.idAeropuerto">{{aeropuerto.codigoIATA}} - {{aeropuerto.nombreCorto}}</option>
                    }
                }
            </select>
        </div>

        <div class="divFechaPartidaLabel">
            <label for="fechaPartida" id="fechaPartidaLabel">Partida</label>
        </div>
        <!-- TODO :: Mejorar insert de fecha en modo edición -->
        <div class="divFechaPartida">
            @if(!modoEdicion){
                <input type="datetime-local" id="fechaPartida">
            }@else {
                <input type="datetime-local" id="fechaPartida" [value]="vuelo?.fechaPartida | date:'yyyy-MM-ddTHH:mm'">
            }
        </div>
        <div class="divFechaArriboLabel">
            <label for="fechaArribo" id="fechaArriboLabel">Arribo</label>
        </div>
        <!-- TODO :: Mejorar insert de fecha en modo edición -->
        <div class="divFechaArribo">
            @if(!modoEdicion){
                <input type="datetime-local" id="fechaArribo">
            }@else {
                <input type="datetime-local" id="fechaArribo" [value]="vuelo?.fechaArribo | date:'yyyy-MM-ddTHH:mm'">
            }
        </div>

        <div class="divEstado">
            <select name="EstadoVuelo" id="selectEstadoVuelo">
                @if(!modoEdicion){
                    <option value="PROGRAMADO" selected disabled>Programado</option>
                }@else {
                    <option [value]="vuelo?.estado?.nombre" selected>{{vuelo?.estado?.descripcion}}</option>
                    @for(estados of estadosVuelo; track $index){
                    <option [value]="estados.nombre">{{estados.descripcion}}</option>
                    }
                }
            </select>
        </div>

        <div class="divBtnGuardar">
            <button id="btnGuardar">Guardar</button>
        </div>

        <div class="divBtnCancelar">
            <button id="btnCancelar" (click)="cancelarModificacion()">Cancelar</button>
        </div>

        <div class="divTabla">
            <table class="tabla">
                <tr class="headerTabla">
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Documento</th>
                    <th>Rol</th>
                    <th>Asignar</th>
                </tr>
                @for(empleado of empleadosFiltrados; track empleado.idEmpleado) {
                    <tr [id]="empleado.idEmpleado">
                        <td>{{ empleado.nombre }}</td>
                        <td>{{ empleado.apellido }}</td>
                        <td>{{ empleado.nroDocumento }}</td>
                        <td>
                            <select name="puestoTripulante" [id]="'puestoTripulante_' + empleado.idEmpleado" [(ngModel)]="empleado.puestoTripulante">
                                @if(!empleado.puestoTripulante) {
                                    <option [ngValue]="null" selected disabled>Puesto a ocupar</option>
                                } @else {
                                    <option [ngValue]="empleado.puestoTripulante" selected>
                                        {{ empleado.puestoTripulante.puesto }}
                                    </option>
                                }
                                @for(puesto of puestosTripulante; track puesto.idPuestoTripulante) {
                                    <option [ngValue]="puesto">{{ puesto.puesto }}</option>
                                }
                            </select>
                        </td>
                        <td>
                            <!-- El checkbox aparece marcado si el empleado tiene un puesto asignado (true) -->
                            <!-- Si el empleado tiene un puesto asignado, se llama a la función quitarTripulante -->
                            <!-- Si el empleado no tiene un puesto asignado, se llama a la función asignarTripulante -->
                            <input type="checkbox"
                                    [disabled]="puestosTripulante.length === 0 || !empleado.puestoTripulante"
                                    [checked]="empleado.puestoTripulante"
                                    [name]="'asignadoEmpleado_' + $index"
                                    class="tripulanteAsignado"
                                    (change)= "empleado.puestoTripulante
                                    ? quitarTripulante(vuelo?.idVuelo ?? '0', empleado.idEmpleado)
                                    : asignarTripulante(vuelo?.idVuelo ?? '0', empleado)">
                        </td>
                    </tr>
                }
            </table>
        </div>











    </div>






</div>