<div class="contenedorPrincipal">
    <div class="mainDashboard">

        <div class="divAeropuertoOrigen">
            <select id="aeropuertoOrigen" [(ngModel)]="origenSeleccionado" (change)="filtrarVuelos()">
                <option value="">Origen</option> 
                <option value="EZE">EZE - Aeropuerto Internacional Ministro Pistarini</option>
                <option value="AEP">AEP - Aeropuerto Jorge Newbery</option>
                <option value="COR">COR - Aeropuerto Internacional Ingeniero Ambrosio L.V. Taravella</option>
                <option value="MDZ">MDZ - Aeropuerto Internacional Gobernador Francisco Gabrielli</option>
                <option value="ROS">ROS - Aeropuerto Internacional Rosario Islas Malvinas</option>
                <option value="SAL">SAL - Aeropuerto Internacional Martín Miguel de Güemes</option>
                <option value="TUC">TUC - Aeropuerto Internacional Teniente General Benjamín Matienzo</option>
                <option value="BRC">BRC - Aeropuerto Internacional Teniente Luis Candelaria</option>
                <option value="USH">USH - Aeropuerto Internacional Malvinas Argentinas</option>
                <option value="IGR">IGR - Aeropuerto Internacional Cataratas del Iguazú</option>
                <option value="REL">REL - Aeropuerto Almirante Marcos A. Zar</option>
                <option value="CRD">CRD - Aeropuerto Internacional General Enrique Mosconi</option>
                <option value="JUJ">JUJ - Aeropuerto Internacional Gobernador Horacio Guzmán</option>
            </select>
        </div>
        <div class="divAeropuertoDestino">
            <select id="aeropuertoDestino" [(ngModel)]="destinoSeleccionado" (change)="filtrarVuelos()">
                <option value="">Destino</option>
                <option value="EZE">EZE - Aeropuerto Internacional Ministro Pistarini</option>
                <option value="AEP">AEP - Aeropuerto Jorge Newbery</option>
                <option value="COR">COR - Aeropuerto Internacional Ingeniero Ambrosio L.V. Taravella</option>
                <option value="MDZ">MDZ - Aeropuerto Internacional Gobernador Francisco Gabrielli</option>
                <option value="ROS">ROS - Aeropuerto Internacional Rosario Islas Malvinas</option>
                <option value="SAL">SAL - Aeropuerto Internacional Martín Miguel de Güemes</option>
                <option value="TUC">TUC - Aeropuerto Internacional Teniente General Benjamín Matienzo</option>
                <option value="BRC">BRC - Aeropuerto Internacional Teniente Luis Candelaria</option>
                <option value="USH">USH - Aeropuerto Internacional Malvinas Argentinas</option>
                <option value="IGR">IGR - Aeropuerto Internacional Cataratas del Iguazú</option>
                <option value="REL">REL - Aeropuerto Almirante Marcos A. Zar</option>
                <option value="CRD">CRD - Aeropuerto Internacional General Enrique Mosconi</option>
                <option value="JUJ">JUJ - Aeropuerto Internacional Gobernador Horacio Guzmán</option>
            </select>        
        </div>

        <div class="divBtnLimpiarFiltros">
            <button id="btnLimpiarFiltros" (click)="limpiarFiltros()">
                <i class="material-icons">refresh</i>
                <span>Limpiar filtros</span>
            </button>
        </div>

        <!-- 
        *ngFor: directiva de angular que repite un elemento html por cada item en una coleccion
        let vuelo: crea una variable local vuelo que representa cada elemento del array
        of vuelos: array sobre el que se itera (l que esta en el componente ts) 
        -->
        <div class="divTabla">
            <table class="tabla">
                <tr class="headerTabla">
                    <th>Vuelo</th>
                    <th>Modelo</th>
                    <th>Fecha Partida</th>
                    <th>Fecha Arribo</th>
                    <th>Estado</th>
                    <th>Origen</th>
                    <th>Destino</th>
                </tr>
                
                <tr *ngFor="let vuelo of vuelos">
                    <td>{{ vuelo.vuelo }}</td>
                    <td>{{ vuelo.modelo }}</td>
                    <td>{{ vuelo.fechaPartida }}</td>
                    <td>{{ vuelo.fechaArribo }}</td>
                    <td>{{ vuelo.estado }}</td>
                    <td>{{ vuelo.origen }}</td>
                    <td>{{ vuelo.destino }}</td>
                </tr>
            </table>
        </div>
        <div class="divDescargar">
            <button id="btnDescargarReporte" (click)="descargarExcel()" title="Descargar reporte">
                <span class="material-icons">file_download</span>
            </button>
        </div>


    </div>

</div>