<div class="contenedorPrincipal">
    <div class="mainDashboard">

        <div class="divAeropuertoOrigen">
            <select id="aeropuertoOrigen" [(ngModel)]="origenSeleccionado" (change)="filtrarVuelos()">
                <option value="">Origen</option>
                @for(aeropuerto of aeropuertos; track $index){
                <option [value]="aeropuerto.codigo">
                    {{ aeropuerto.codigo }} - {{ aeropuerto.nombre }}
                </option>
                }
            </select>
        </div>
        <div class="divAeropuertoDestino">
            <select id="aeropuertoDestino" [(ngModel)]="destinoSeleccionado" (change)="filtrarVuelos()">
                <option value="">Destino</option>
                @for(aeropuerto of aeropuertos; track $index){
                <option [value]="aeropuerto.codigo">
                    {{ aeropuerto.codigo }} - {{ aeropuerto.nombre }}
                </option>
                }
            </select>        
        </div>

        <div class="divBtnLimpiarFiltros">
            <button id="btnLimpiarFiltros" (click)="limpiarFiltros()">
                <i class="material-icons">refresh</i>
                <span>Limpiar</span>
            </button>
        </div>

        <div class="divTabla">
            <table class="tabla">
                <tr class="headerTabla">
                    <th>Vuelo</th>
                    <th>Modelo</th>
                    <th>Origen</th>
                    <th>Destino</th>
                    <th>Fecha Partida</th>
                    <th>Fecha Arribo</th>
                    <th>Estado</th>
                </tr>
                @for(vuelo of vuelos; track $index){
                <tr id={{vuelo.id}}>
                    <td>{{vuelo.vuelo}}</td>
                    <td>{{vuelo.avion.marca}} {{vuelo.avion.modelo}}</td>
                    <td>{{vuelo.origen.codigo}} - {{vuelo.origen.nombreCorto}}</td>
                    <td>{{vuelo.destino.codigo}} - {{vuelo.destino.nombreCorto}}</td>
                    <td>{{vuelo.fechaPartida}}</td>
                    <td>{{vuelo.fechaArribo}}</td>
                    <td>{{vuelo.estado}}</td>
                </tr>
                }
            </table>
        </div>
        <div class="divDescargar">
            <button id="btnDescargarReporte" (click)="descargarExcel()" title="Descargar reporte">
                <span class="material-icons">file_download</span>
            </button>
        </div>
    </div>
</div>