<div class="contenedorPrincipal">
      <div class="mainDashboard">
         
           <div class="divBotonVolver">
             <button id="botonVolver">⬅</button>
           </div>
           
           

            <div class="divAeropuertoOrigen">
                
               <select id="aeropuertoOrigen" >
                    <option value="aeoropuertoOrigen">Origen</option>
                    <option value="EZE">EZE - Aeropuerto Internacional Ministro Pistarini</option>
                    <option value="AEP">AEP - Aeropuerto Jorge Newbery</option>
                    <option value="COR">COR - Aeropuerto Internacional Ingeniero Ambrosio L.V. Taravella</option>
                    <option value="MDZ">MDZ - Aeropuerto Internacional Gobernador Francisco Gabrielli</option>
                    <option value="ROS">ROS - Aeropuerto Internacional Rosario Islas Malvinas</option>
                    <option value="SAL">SAL - Aeropuerto Internacional Martín Miguel de Güemes</option>
                    <option value="TUC">TUC - Aeropuerto Internacional Teniente General Benjamín Matienzo</option>
                    <option value="BRC">BRC - Aeropuerto Internacional Teniente Luis Candelaria</option>
                    <option value="USH">USH - Aeropuerto Internacional Malvinas Argentinas</option>
                    <option value="IGR">IGR - Aeropuerto Internacional Cataratas del Iguazú</option>
                    <option value="REL">REL - Aeropuerto Almirante Marcos A. Zar</option>
                    <option value="CRD">CRD - Aeropuerto Internacional General Enrique Mosconi</option>
                    <option value="JUJ">JUJ - Aeropuerto Internacional Gobernador Horacio Guzmán</option> 
                </select>
            </div>
            <div class="divAeropuertoDestino">
                 <select id="aeropuertoDestino" >
                    <option value="aeoropuertoDestino">Destino</option>
                    <option value="EZE">EZE - Aeropuerto Internacional Ministro Pistarini</option>
                    <option value="AEP">AEP - Aeropuerto Jorge Newbery</option>
                    <option value="COR">COR - Aeropuerto Internacional Ingeniero Ambrosio L.V. Taravella</option>
                    <option value="MDZ">MDZ - Aeropuerto Internacional Gobernador Francisco Gabrielli</option>
                    <option value="ROS">ROS - Aeropuerto Internacional Rosario Islas Malvinas</option>
                    <option value="SAL">SAL - Aeropuerto Internacional Martín Miguel de Güemes</option>
                    <option value="TUC">TUC - Aeropuerto Internacional Teniente General Benjamín Matienzo</option>
                    <option value="BRC">BRC - Aeropuerto Internacional Teniente Luis Candelaria</option>
                    <option value="USH">USH - Aeropuerto Internacional Malvinas Argentinas</option>
                    <option value="IGR">IGR - Aeropuerto Internacional Cataratas del Iguazú</option>
                    <option value="REL">REL - Aeropuerto Almirante Marcos A. Zar</option>
                    <option value="CRD">CRD - Aeropuerto Internacional General Enrique Mosconi</option>
                    <option value="JUJ">JUJ - Aeropuerto Internacional Gobernador Horacio Guzmán</option> 
                </select>
                

            </div>
           

           
            <div class="divTabla">
                <table class="tabla">
                    <tr class="headerTabla">
                        <th>Vuelo</th>
                        <th>Modelo</th>
                        <th>Fecha Partida</th>
                        <th>Fecha Arribo</th>
                        <th>Estado</th>
                    </tr>
                     <tr>
                        <td>AP1978</td>
                        <td>747</td>
                        <td>25/05/2025</td>
                        <td>25/05/2025</td>
                        <td>Finalizado</td>
                    </tr>
                    <tr>
                        <td>AP1978</td>
                        <td>747</td>
                        <td>25/05/2025</td>
                        <td>25/05/2025</td>
                        <td>Finalizado</td>
                    </tr>
                    <tr>
                        <td>AP1978</td>
                        <td>747</td>
                        <td>25/05/2025</td>
                        <td>25/05/2025</td>
                        <td>Finalizado</td>
                    </tr>
                    <tr>
                        <td>AP1978</td>
                        <td>747</td>
                        <td>25/05/2025</td>
                        <td>25/05/2025</td>
                        <td>Finalizado</td>
                    </tr>
                    <tr>
                        <td>AP1978</td>
                        <td>747</td>
                        <td>25/05/2025</td>
                        <td>25/05/2025</td>
                        <td>Finalizado</td>
                    </tr>
                    <tr>
                        <td>AP1978</td>
                        <td>747</td>
                        <td>25/05/2025</td>
                        <td>25/05/2025</td>
                        <td>Finalizado</td>
                    </tr>
                    <tr>
                        <td>AP1978</td>
                        <td>747</td>
                        <td>25/05/2025</td>
                        <td>25/05/2025</td>
                        <td>Finalizado</td>
                    </tr>
                    <tr>
                        <td>AP1978</td>
                        <td>747</td>
                        <td>25/05/2025</td>
                        <td>25/05/2025</td>
                        <td>Finalizado</td>
                    </tr>
                 

                </table>
            </div>
            <div class="divDescargar">
                <button id="btnDescargarReporte">Descargar</button>
            </div>
            
                
            
            

                
                

              
                
   
        </div>

</div>
