<div class="contendorPrincipal">
    <div class="mainDashboard">
      <div class="vuelosHoy">
                  <h2>Vuelos de hoy</h2>
                  <div class="divTabla">
                      <table class="tabla">
                          <tr>
                              <th>Codigo </th>
                              <th>Destino</th>
                              <th>Fecha partida</th>
                              <th>Estado</th>
                          </tr>
                          <tr *ngFor="let vuelo of vuelos">
                              <td>{{ vuelo.vuelo }}</td>
                              <td>{{ vuelo.destino.nombre }}</td>
                              <td>{{ vuelo.fechaPartida }}</td>
                              <td>{{ vuelo.estado }}</td>
                          </tr>
                      </table>
                  </div>
              </div>
              <div class="alertaPasajero">
                  <h2>Pasajeros</h2>
                  <p id="numeroAlertaPasajeros">10875</p>
                  <p>Total de pasajeros este mes</p>
              </div>
              <div class="alertaVuelos">
                  
                      <h2>Alerta de Vuelos</h2>
                      <div class="parPVuelosRepCancel">
                          <div class="divPVuelosReprogramados">
                              <p id="numeroVuelosReprogramados">5</p>
                               <p>Vuelos reprogramados</p>
                          </div>
                          <div class="divPVuelosCancelados">
                              <p id="numeroVuelosCancelados">1</p>
                              <p>Vuelos cancelados</p>
                           </div>
                      </div>
              </div>
          </div>
          </div>
  